@media screen and (min-width: 1024px) {
  main {
    margin: 0;
    height: 72vh;
  }

  header {
    background-image: url("/img/header-blood.png");
    height: 25vh;
    display: flex;
  }

  #img-skull {
    width: 5vw;
    vertical-align: middle;
    padding: 1rem;
  }

  .swiper-slide {
    margin: 0;
    background-position: center;
    background-size: cover;
    width: 15vw;
  }
  .rip-container {
    margin:0;
    width: 15vw;
  }

  .rip-name {
    font-size: 40px;
    top: 72%;
  }
}
