.modal{

    display: none;
    background: rgba(0, 0, 0,0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    

}

.modal-container{
    background: #fff;
    min-width: 200px;
    max-width: 90%;
    min-height: 300px;
    max-height: 90%;
    padding: 20px;
    position: relative;
	background-image: url("/img/blood-main.png");



}

.close-modal {
background:#b91212;
width: 36px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 1.3rem;
position: absolute;
right: -10px;
top: -10px;
cursor: pointer;

}

.info-text{
    font-size: 2rem;
}

@media screen and (max-width:800px){
	.modal{
		width: 100%;
	}
}