.modal {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-container {
  background: var(--color-font-header);
  width: 80%;
  margin-right: 2.5rem;
  padding: 20px;
  position: relative;
  background-image: url("/img/blood-main.png");
}

.close-modal {
  background: var(--color-font-main);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font-header);
  font-size: 1.3rem;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}

.info-text {
  font-size: 2rem;
  color: var(--background-color);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: var(--color-font-header);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
}

.popup button {
  padding: 8px 16px;
  background-color:var(--color-popup-button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--color-popup-button);
}

@media screen and (max-width: 800px) {
  .modal {
    width: 100%;
  }
}
