@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
    --first-color: #010020;
    --second-color:  #ffffff;
    --third-color: #00F482;
    --p-color: #565072;
    --hit-color: #202020;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--second-color);
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
}

header {
    padding: 2vw 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
    
}

.logo {
    width: 20%;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 1.5vw;
    text-decoration: none;
}

.sign-up {
    color: var(--third-color);
    border-right: 1px solid white;
    padding-right: 3vw;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    background-color: var(--third-color);
    width: 15%;
    border-radius: 15px;
    padding: 5px;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--second-color);
}

main {
    padding: 2vw 2vw 2vw 5vw;
    display: flex;
    justify-content: space-around;
}

.title {
    width: 35%;
}

h1 {
    font-size: 6vw;
    line-height: 6vw;
}

p {
    font-size: 1.6vw;
    margin: 2.5vw 0;
    color: var(--p-color);
}

.hit-btn {
    background-color: var(--third-color);
    padding: 1vw 2vw;
    border-radius: 2vw;
    border: none;
    padding: 1.3vw 5vw;
}

.drumkit-container {
    width: 60%;
    position: relative;
}

.gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 120%;
    border-radius: 50%;
    filter: blur(10px);
    filter: blur(1rem);
    background: radial-gradient(rgb(18, 14, 74), rgba(73, 67, 149, 0.164));
    
}

.drumkit-img {
    width: 100%;
    filter: drop-shadow(0.5rem 1rem 1rem rgba(0, 0, 0, 0.9)); 
}

.sound {
    opacity: 0;
    border: none;
    position: absolute;
}

.sound:hover {
    background-color: var(--hit-color);
    opacity:100;
    border:none;
}

.tom1 {
    position: absolute;
    width: 21%;
    padding-bottom: 21%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 15.5%;
    left: 27%;
}

.tom2 {
    position: absolute;
    width: 21%;
    padding-bottom: 21%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 15.5%;
    left: 51%;
}

.tom3 {
    position: absolute;
    width: 21%;
    padding-bottom: 21%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 52%;
    left: 15%;
}

.tom4 {
    position: absolute;
    width: 21%;
    padding-bottom: 21%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 52%;
    left: 63%;
}

.bombo {
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 6%;
    left: 2%;
}

.crash{
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 28%;
    left: 9.5%; 
}

.hithat{
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 6%;
    left: 82%; 
}

.redoblante{
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 28%;
    left: 74.5%; 
}

.pricing-btn {
    background-color: var(--second-color);
    padding: 1.3vw 2vw;
    border-radius: 2vw;
    color: var(--first-color);
    border: none;
}

footer {
    text-align: center;
    padding: 3vw;
}

h2 {
    font-size: 2.5vw;
}

@media only screen and (max-width: 576px) {
    .logo {
        width: 40%;
    }
    .hamburger-menu {
        display: block;
        z-index: 999;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: var(--first-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 998;
    }

    a {
        font-size: 1.3125em;
    }

    .sign-up {
        padding-right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-bar.active {
        left: 0;
    }
}