@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
@import url("/CSS/pop_up.css");

:root {
  --background-color: #191919;
  --color-font-main: #b91212;
  --color-font-header: #ffffff;
  --color-text-fill: #d9d9d9;
  --color-error-button: #dc3545;
  --color-box-shadow: #dbd0ad;
  --color-background-error: #f8d7da;
  --color-text-shadow: 2px 2px 4px black;
  --color-popup-button: #007bff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Creepster", sans-serif;
}

header {
  background-image: url("/img/header-blood.png");
  background-size: cover;
  height: 20vh;
  margin: 0%;
  padding: 0%;
  padding-top: 1rem;
  color: var(--color-font-header);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 300px;
}

body {
  max-width: 100vw;
  min-width: 0vw;
  background-color: var(--background-color);
}

.header-container {
  margin: 3px;
  gap: 5px;
  font-size: 1.875rem;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icono-info {
  object-fit: contain;
  margin-left: 1rem;
  width: 10vw;
}

main {
  height: 80vh;
  background-image: url("/img/blood-main.png");
  color: var(--color-font-main);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: var(--color-font-main);
  box-shadow: var(--color-box-shadow);
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  margin: 0.7rem;
}

#coder-name {
  margin: 0;
  padding: 0.4rem;
  background-color: var(--color-text-fill);
}

#add-btn {
  text-decoration: none;
  padding: 0.2rem 2.2rem;
}

.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-error);
  color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  display: none;
}

.error-message.active {
  display: flex;
  flex-direction: column;
}

.error-message #error-text {
  display: block;
  margin-bottom: 10px;
}

.error-message #error-button {
  background-color: var(--color-error-button);
  color: var(--background-color);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#coder-name {
  margin: 0;
  padding: 0.4rem;
  background-color: var(--color-text-fill);
}

.start {
  margin: 1rem;
  padding: 0.5rem 4rem;
}

#coders-list {
  font-size: 1.5rem;
  list-style-type: none;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-font-header);
}

#coders-list li {
  margin: 5px;
}

.delete {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.452);
}
