@media (min-width: 820px) and (max-width: 1180px){

  main {
    margin: 0;
    height: 85vh;
  }

  .logo{
    width: 30rem;
    margin-left: 8rem;
  }

  header{
    height: 15vh;
  }

  h1 {
    font-size: 10vw;
    margin-right: 2rem;
  }

  .header-main{
    margin:3rem 0rem;
  }

  .select-coder {
    padding: 0.2rem 2rem;
  }

  .img-skull {
    display: flex;
    margin: 1rem 0rem;
    width: 15vw;
  }

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    width: 15vw;
  }
  
  .swiper-slide img {
    width: 50vw;
  }
  
  .rip-container {
    width: 45vw;
    bottom: 3rem;
  }

  .rip-container img {
    margin-bottom: 3rem;
  }

   .rip-name {
    font-size: 50px;
    top: 80%;
  }
  
}
