@media screen and (min-width: 820px) {
  main {
    margin: 0;
    height: 80vh;
  }

  header {
    background-image: url("/img/header-blood.png");
    height: 12vh;
  }

  .icono-info {
    width: 7vw;
    margin: 10px;
  }

h1 {
    font-size: 10%;
  }
}
