@media (max-width: 1024) {
  main {
    margin: 0;
    height: 80vh;
  }

  header {
    background-image: url("/img/header-blood.png");
    height: 12vh;
  }

  .icono-info {
    width: 7vw;
    margin: 10px;
  }

  h1 {
    font-size: 11vw;
    margin-left: 5rem;
  }
}
