img.logo{
    width: 20rem;
    margin-left: 2rem;
}

.skull-main {
	width: 20vw;
}

main{
    height: 100vh;
}
.select-coder{
    padding: 0.2rem 2rem ;
}

.header-main{
    display: flex;
    flex-direction: column;
}
.img-skull{
    display: flex;
    margin-left: 1.5rem;
    width: 20vw;
}
.container{
	max-width: 80%;
	margin-top: 1rem;
	padding: 0px;
    overflow: hidden;
}

.swiper {
	width: 100%;
}

.swiper-slide {
    margin: 0;
	background-position: center;
	background-size: cover;
	width: 100vw;
}

.swiper-slide img{
	display: block;
	width: 100%;
}

.rip-container {
    position: relative;
    margin-top: 1.3rem;
  }
  
  .rip-container img {
    display: block;
    z-index: -1;
    width: 100%;
    margin-bottom: 50px;
  }

  .rip-name {
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }